# {{ ansible_managed }}

[logging]
  default = FILE:/var/log/krb5libs.log
  kdc = FILE:/var/log/krb5kdc.log
  admin_server = FILE:/var/log/kadmind.log

[libdefaults]
  permitted_enctypes = {{ adjoin_kerberos_enctypes }}
  default_realm = {{ adjoin_domain_name|upper }}

  dns_lookup_realm = true
  dns_lookup_kdc = true
  ticket_lifetime = 24h
  renew_lifetime = 7d
  forwardable = true
  default_tkt_enctypes = {{ adjoin_kerberos_enctypes }}
  default_tgs_enctypes = {{ adjoin_kerberos_enctypes }}

[realms]
{{ adjoin_domain_name|upper }} = {
  {% for domain_controller in adjoin_domain_controllers %}
kdc = {{ domain_controller }}
  {% endfor %}
admin_server = {{adjoin_domain_controllers[0] }}
  default_realm = {{ adjoin_domain_name }}
  }

[domain_realm]
  .{{ adjoin_domain_name }} = {{ adjoin_domain_name|upper }}
  {{ adjoin_domain_name }} = {{ adjoin_domain_name|upper }}

[appdefaults]
  pam = {
    debug = false
    ticket_lifetime = 36000
    renew_lifetime = 36000
    forwardable = true
    krb4_convert = false
    validate = true
  }
