# {{ ansible_managed }}

[global]

  security = ads
  server string = Print Server %h
  netbios name = {{ inventory_hostname_short|upper }}
  netbios aliases = {{ inventory_hostname }}
  realm = {{ adjoin_domain_name|upper }}
  workgroup = {{ adjoin_workgroup }}
  use sendfile = true

  idmap config *: backend = tdb
  idmap config *: range = 50000-1000000

  winbind use default domain = true
  # winbind enum users  = Yes
  # winbind enum groups = Yes
  winbind refresh tickets = Yes
    
  # no master
  domain master = No
  local master = No
  preferred master = No
  os level = 0
    
  # printer
  load printers = Yes
  printcap name = cups
  printing = CUPS
  rpc_server:spoolss = external
  rpc_daemon:spoolssd = fork

  # filesystem
  vfs objects = acl_xattr
  map acl inherit = yes
  # the next line is only required on Samba versions less than 4.9.0
  store dos attributes = yes

[printers]

  comment = All Printers
  path = /var/spool/samba
  browseable = Yes
  # to allow user 'guest account' to print.
  guest ok = No
  writable = No
  printable = Yes
  create mode = 0700
  write list = root @"PARKIMMO\domänen-admins"


[print$]

   comment = Printer Drivers
   path = /var/lib/samba/printers
   readonly = no
 

